.item-container {
  display: grid;
  grid-template-columns: 200px 80px;
  grid-column: 1;
  place-items: start start;
  width: 90%;
  padding: 10px;
  background-color: wheat;
  border-radius: 7px;
  box-shadow: inset  -4px -4px 8px rgb(136, 133, 133);
}


.item-name {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: 'grafton';
}